.body {
    text-align: center;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.ItemList {
    border: solid;
}

button {
    width: 100px;
    margin: 2px;
    border-radius: 0;
    border: solid 1px;
    cursor: pointer;
    background-color: rgb(220, 225, 237);
    height: 29px;
}

button:hover {
    background-color: rgb(68, 60, 101);
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
